{% inlinecss absolute_path('public/css/app.css') %}
    <html>
        <head>

        </head>
        <body>
            <div class="bg-success p-5 text-center">
                Mail Test
            </div>
            <p>Hi {{ name }}</p>
        </body>
    </html>
{% endinlinecss %}